 ::ng-deep   .mat-raised-button {
   background-color: yellow; 
}
.example-container {
    // padding: 6px;
    // margin-bottom: 6px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .content-container {
    margin-top: 30px;
    
  }
    
.text-muted {
  color:white
}

  .side-bar {
    background:white;

    .nav-link {
      color: #FFF;
      font-size: 28px;
    }
  }