.my-ng-fullcalendar{
  //  width:80%;
  //  margin-left: 300px;
  }
  .text-center {
    text-align: center!important
}

.mt-5 {
  margin-top: 3rem!important
}
.my-4 {
  margin-top: 1.5rem!important
}